@model List<Client>

@{
    ViewData["Title"] = "All Clients";
}

<h1>All Clients</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    @* @foreach (var client in Model)
    {
        <tr>
            <td>@client.Id</td>
            <td>@client.Name</td>
        </tr>
    } *@
</table>


<a asp-action="AddClient" class="btn btn-primary">Add Client</a>