@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Transaction Management Application</h1>
</div>
<div class="hr">
    <div class="col-md-4">
        <h2>Welcome to Transaction Management Application</h2>
        <p>
            Transaction Management Application is a sample application that
            demonstrates use of Entity Framework Core in an
            ASP.NET Core MVC web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Client</h2>
        <p>Here you can see all clients</p>
        @* <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p> *@
    </div>
    <div class="col-md-4">
        <h2>Transactions</h2>
        <p>Here you can simulate paying with a credit or debit card</p>
        @* <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">See project source code &raquo;</a></p> *@
    </div>
    <div class="col-md-4">
        <h2>TransactionsHistory</h2>
        <p>Here you can have a look at the client transaction</p>
        @* <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">See project source code &raquo;</a></p> *@
    </div>
</div>


