@using static MvcCore.BussinesLogic.Enums
@model MvcCore.Models.Transaction

@{
    ViewData["Title"] = "CreateTransactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Payment</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PostTransaction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContraktId" class="control-label"></label>
                <select asp-for="ContraktId" class ="form-control" asp-items="ViewBag.ContraktId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TransactionId" class="control-label"></label>
                <input asp-for="TransactionId" class="form-control" />
                <span asp-validation-for="TransactionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionType" class="control-label"></label>
                <select asp-for="TransactionType" class="form-control">
                    @foreach (var type in Enum.GetValues(typeof(TransactionType)))
                    {
                        <option value="@type">@type</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
